.main-menu ul {
  list-style: none;
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 0;
}

.main-menu ul li {
  position: relative;
  margin: 0;
}

.main-menu ul li:hover {
  background-color: #ebedf5;
  color: #000;
}

.main-menu li a,
.main-menu li span {
  padding: 0.5rem 1rem;
  display: block;
  cursor: pointer;
  letter-spacing: 0.5pt;
  font-weight: 500;
}

/* level 1 */
.main-menu > ul > li span.active,
.main-menu > ul > li a.active {
  background-color: #ebedf5;
  color: var(--color-primary);
  font-weight: bold;
}

.main-menu > ul > li:hover > ul {
  display: block;
}

/* level 2 */
.main-menu > ul ul {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  z-index: 99999;
  min-width: 220px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.main-menu > ul ul li span,
.main-menu > ul ul li a {
  color: #000;
  text-decoration: none;
}

.main-menu > ul ul li span.active,
.main-menu > ul ul li a.active {
  background-color: var(--color-primary);
  color: #fff !important;
}

.main-menu > ul ul li span.active:hover,
.main-menu > ul ul li a.active:hover {
  background-color: var(--color-primary);
  color: #fff !important;
}

.main-menu > ul ul li span:hover,
.main-menu > ul ul li a:hover {
  background-color: #ebedf5;
}
